[user]
  name = Akin909
  email = akin.sowemimo@gmail.com
[color]
  ui = auto
[core]
  editor = nvim
  excludesfile = /Users/A_nonymous/.gitignore_global
[alias]
  conflicted = !vim +Conflicted
  fall = fetch --all
  uncommit = reset --soft HEAD^
  ureset = !git reset --hard $(git upstream)
[push]
  default = upstream
[fetch]
  prune = true
[gitsh]
  prompt = "\n%D %c(%b%#)%w ➜"
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
