tags
node_modules
node
.DS_Store
*~
.netrwhist
*.code-workspace
session/
packer_compiled.vim
automatic_backups/
.config/tmux/plugins/

.zsh_history
.zcompdump
.zcompcache
.chpwd-recent-dirs
.zsh_sessions
