[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "alias-tips"]
	path = .config/zsh/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/zsh-auto-notify"]
	path = .config/zsh/plugins/zsh-auto-notify
	url = git@github.com:MichaelAquilina/zsh-auto-notify.git
[submodule "/Users/akin/.dotfiles/.config/zsh/plugins/zsh-autopair"]
	path = /Users/akin/.dotfiles/.config/zsh/plugins/zsh-autopair
	url = git@github.com:hlissner/zsh-autopair.git
