<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.man</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>63849D71-ED09-48B7-91F4-A095B5C6197F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3960E216-DE18-459D-BBCB-6F5A21C4931C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A6E0B5F8-6AAF-42EE-8A6E-65EF13ED75C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2389990-4936-4DA7-AA4D-3236223735EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74291A6F-4872-4DDA-823C-F4056C202562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Open man page using x-man-page: protocol or html</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>man</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>query="{query}"

cache="com.runningwithcrayons.Alfred-2/Workflow Data/net.isometry.alfred.man"

name=${query#*/}
sect=${query%/*}
file=$(cd ~/Library/Caches/"$cache"; pwd)/$name\($sect\).pdf
page=$(man -w -s $sect $name)

if [ "$page" -nt "$file" ]; then
	man -t -s $sect $name | pstopdf -i -o "$file"
fi

open "$file"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>query="{query}"

cache="com.runningwithcrayons.Alfred-2/Workflow Data/net.isometry.alfred.man"

name=${query#*/}
sect=${query%/*}
file=$(cd ~/Library/Caches/"$cache"; pwd)/$name\($sect\).html
page=$(man -w -s $sect $name)

if [ "$page" -nt "$file" ]; then
	groff -Thtml -mandoc -c "$page" &gt; "$file"
fi

open "$file"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3960E216-DE18-459D-BBCB-6F5A21C4931C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>x-man-page://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>74291A6F-4872-4DDA-823C-F4056C202562</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>man</string>
				<key>runningsubtext</key>
				<string>Searching whatis database…</string>
				<key>script</key>
				<string>from alfredman import complete
print complete("{query}")</string>
				<key>title</key>
				<string>Open man page</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2389990-4936-4DA7-AA4D-3236223735EA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>hman</string>
				<key>runningsubtext</key>
				<string>Searching whatis database…</string>
				<key>script</key>
				<string>from alfredman import complete
print complete("{query}")</string>
				<key>title</key>
				<string>Open HTML man page</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63849D71-ED09-48B7-91F4-A095B5C6197F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>pman</string>
				<key>runningsubtext</key>
				<string>Searching whatis database…</string>
				<key>script</key>
				<string>from alfredman import complete
print complete("{query}")</string>
				<key>title</key>
				<string>Open PDF man page</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6E0B5F8-6AAF-42EE-8A6E-65EF13ED75C9</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Open a man(1) page with name and section filtering.

The 'man' keyword will open in your default x-man-page: protocol handler (probably Terminal.app).

The 'hman' keyword will open in Safari (change to your preferred browser by tweaking the BROWSER variable at the top of hman Run Script).

Usage:
man open(1)  # open a specific page
man open     # search all sections for pages matching 'open*'
man *open    # search all sections for pages matching '*open*'
man 2 open   # search section 2 for pages with 'open' in the name</string>
	<key>uidata</key>
	<dict>
		<key>3960E216-DE18-459D-BBCB-6F5A21C4931C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>63849D71-ED09-48B7-91F4-A095B5C6197F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>74291A6F-4872-4DDA-823C-F4056C202562</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>900F4F3B-8516-4BD3-BBE3-BD76DBEAFCC4</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A6E0B5F8-6AAF-42EE-8A6E-65EF13ED75C9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E2389990-4936-4DA7-AA4D-3236223735EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfredworkflows/tree/master/net.isometry.alfred.man</string>
</dict>
</plist>
