<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.egrefen.vim</string>
	<key>connections</key>
	<dict>
		<key>A990B552-2017-43F3-A1BB-0D07F139FF3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF839111-E337-4577-80A3-6235D8B11698</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Edward Grefenstette</string>
	<key>description</key>
	<string>Launch Vim</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>cd $HOME
if [ -e /usr/local/bin/vim ]; then
	/usr/local/bin/vim {query}
else
	vim
fi</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BF839111-E337-4577-80A3-6235D8B11698</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open {query} in vim</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A990B552-2017-43F3-A1BB-0D07F139FF3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A990B552-2017-43F3-A1BB-0D07F139FF3D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>BF839111-E337-4577-80A3-6235D8B11698</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.egrefen.com</string>
</dict>
</plist>
