# ===============================================
# JSX helpers
# ===============================================
snippet del "JSX DOM element" w
<${1:div} ${2:className='$3'}>
	$4
</$1>
endsnippet

snippet cel "JSX Component element" w
<${1:Component} ${2:${3:property}={${4:value}}} />
endsnippet

snippet nbsp "&nbsp;" w
&nbsp;
endsnippet

snippet apos "&nbsp;" w
&apos;
endsnippet
